<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenBI UPI API | Welcome!</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
        }
        h1, h2, h3, h4, h5, p, div {
            margin: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Welcome to GenBI UPI Web API!</h1>
            <h2>You access this page using IP <%= ip_addr %></h2>
            <br>
            <h2>See our <a href="https://documenter.getpostman.com/view/15801526/2s9YsNfAtf" target="_blank">API Documentation</a> for the usage.</h2>
            <p>Need some help? Contact our developers at <a href="mailto:genbiupimarketing@gmail.com">genbiupimarketing@gmail.com</a></p>
        </div>
    </div>
</body>
</html>