<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenBI UPI API | Welcome!</title>
    <style>
        .container {
            margin-top: 30px;
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to GenBI UPI Web API!</h1>
        <h3>You access this API using IP <%= ip_addr %></h3>
        <h4>See our API documentation for the usage: <a href="https://documenter.getpostman.com/view/15801526/2s9YsNfAtf">https://documenter.getpostman.com/view/15801526/2s9YsNfAtf</a></h4>
    </div>
</body>
</html>