<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenBI UPI API | Welcome!</title>
    <style>
        .container {
            margin-top: 30px;
            margin-left: 50px;
        }
        h1, h2, h3, h4, h5, p {
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to GenBI UPI Web API!</h1>
        <h2>You access this page using IP <%= ip_addr %></h2>
        <br>
        <h3>See our <a href="https://documenter.getpostman.com/view/15801526/2s9YsNfAtf">API Documentation</a> for the usage.</h3>
        <p>Need some help? Contact our developers at <a href="mailto:genbiupimarketing@gmail.com">genbiupimarketing@gmail.com</a></p>
    </div>
</body>
</html>